#top_menu {
    float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

#top_menu span.separator {
	font-size: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
}

#top_menu a, a:active, a:visited {
    text-decoration: none;
}

#top_menu a:hover {
	opacity: .8
}

#logo {
	height: 65px;
	margin-left:5px;
}

#logoMain {
	height: 80px;
	margin-left:5px;
}

a.status, a.status:active, a.status:visited {
	font-weight: bold;
	color: #2f8dcb;
    text-decoration: none;
}

a:hover {
	opacity: .8
}

.normal_text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;    
    color: #000;
}

.bold_text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #f60;
}

.main_menu a{
    color: #fff;
    font-size: 14px;
	font-weight: bold;
    text-decoration: none;  
}
a.main_menu_current  {
    color: #f60;
    font-size: 14px;
	font-weight: bold;
    text-decoration: none; 
}

td.main_menu {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
    background-color: #84BFE5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px; 
	padding-left: 5px;
    text-align: left;
	height:20px;
	line-height:20px;
}

input {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;  
    border-radius: 2px; 
    border: 1px solid lightgray;
    background-color: #fff; 
	color: grey;
	font-size: 9pt;
	font-weight: bold;
	line-height: 15px;
	height: 20px;
	font-family: Arial, Helvetica,sans-serif; ;
}

input:hover {
	opacity: .8
}

input:focus { 
    	outline: none;
    	border-color: #2F8ECB;
    	box-shadow: 0 0 5px #2F8ECB;
}

select {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid lightgray;
    background-color: #fff;
	color: grey;
	font-size: 9pt;
	font-weight: bold;
	height: 23px;
	width: 130px;
	line-height: 15px;
	font-family: Arial, Helvetica,sans-serif;
}

select:hover {
	opacity: .8;
}

select:focus { 
    	outline: none;
    	border-color: #2F8ECB;
    	box-shadow: 0 0 5px #2F8ECB;
}
.empty { 
	color: grey;
	opacity: .6;
}

.login, .contact_seller, .edit_item {
	background-color: #fff;
	display:none; 
	z-index: 5;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;     
    border-width: 0px;    
	padding: 20px;
}

.login {
	z-index: 100;
}

.overlay_search_bar {
	z-index: 1;
	height: 50px;
	width: 570px;
	margin-left: -5px;
	margin-top: -40px;
	display: block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;     
    border-width: 0px;
	position: absolute;
	background-color: #fff;
	filter:alpha(opacity=60);
	opacity:.6;
	overflow: hidden;
}

.search_form {
	z-index: 1;
	position: relative;
}
.login h2 {
    color: #2a7fb7;	
}

#login_exit {
	float: right;
}