#quick_start_bg {
	background: #3A3A3A;
	width: 965px;
	margin-left: -5px;
	margin-bottom: 5px;
	padding: 5px 10px 25px 10px;
}

.quick_start {
	color: #fff;
}

.quick_start h2 {
	color: #ffb380;
	font-size: 12pt;
}

.quick_start a {
	color: #ffb380;
	font-size: 12pt;
	text-decoration: none;
}

.quick_start p {
	font-size: 11pt;
}

#footer_container {
	margin-top: 20px;
}

#bottom_menu {
	position: relative;
	top: 50px;
	text-align: center;
	width: 975px;
	height: 150px;
	line-height: 40px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'robotolight', 'Roboto', 'Arial', sans-serif;
}

#bottom_menu a {
	text-decoration: none;
	color: #222;
	font-size: 15px;
	padding: 5px;
}

#bottom_menu a:hover {
	opacity: .8;
}

#logo-footer {
	position: relative;
	top: 30px;
	background: url('/images/landing-sprite.png') -16px -85px no-repeat;
	height: 50px;
	width: 100px;
	margin: 0 auto;
}