#quick_start_bg {
	background: #808080;
	margin: auto;
	width: 955px;
	padding: 5px 10px 25px 10px;	
}

.quick_start {
	color: #fff;
}

.quick_start h2 {
	color: #ffb380;
	font-size: 12pt;
}

.quick_start p {
	font-size: 9pt;
}

#bottom_menu {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
	background: #E6F2FB;
    border-radius: 8px;     
    border: 0px solid #2f8dcb;
	width: 950px;
	padding: 3px;	
	height: 20px;
	line-height: 20px;
}

#bottom_menu a {
	text-decoration: none;
}