#top_menu {
    float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

#top_menu span.separator {
	font-size: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
}

#top_menu a, a:active, a:visited {
    text-decoration: none;
}

#logo {
	height: 65px;
	margin-left:5px;
}

#logoMain {
	height: 80px;
	margin-left:5px;
}

a.status, a.status:active, a.status:visited {
	font-weight: bold;
	color: #2f8dcb;
    text-decoration: none;
}

.normal_text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;    
    color: #000;
}

.bold_text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #f60;
}

.main_menu a{
    color: #fff;
    font-size: 14px;
	font-weight: bold;
    text-decoration: none;  
}
a.main_menu_current  {
    color: #f60;
    font-size: 14px;
	font-weight: bold;
    text-decoration: none; 
}

td.main_menu {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
    background-color: #84BFE5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px; 
	padding-left: 5px;
    text-align: left;
	height:20px;
	line-height:20px;
}

input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;  
    border-radius: 3px; 
    border-style: solid;
    border-color: #a7a7a7;
    border-width: 0px;
    background-color: #E6F2FB; 
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	height: 15px;
	font-family: Arial, Helvetica,sans-serif; ;
}

select {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;  
    border-radius: 3px; 
    border-style: solid;
    border-color: #a7a7a7;
    border-width: 1px;
    background-color: #fff; 
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	font-family: Arial, Helvetica,sans-serif; ;
}

.login, .contact_seller, .edit_item {
	background-color: #fff;
	display:none; 
	z-index: 5;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;     
    border-width: 0px;    
	padding: 20px;
}

.login {
	z-index: 100;
}

.overlay_search_bar {
	z-index: 1;
	height: 50px;
	width: 570px;
	margin-left: -5px;
	margin-top: -40px;
	display: block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;     
    border-width: 0px;
	position: absolute;
	background-color: #fff;
	filter:alpha(opacity=60);
	opacity:.6;
	overflow: hidden;
}

.search_form {
	z-index: 1;
	position: relative;
}
.login h2 {
    color: #2a7fb7;	
}

#login_exit {
	float: right;
}