body {
	font-family: Arial, Helvetica,sans-serif; ;
	font-size: 12px;	
	margin: 0px;
}

button {
	background-color: #fff;
    color: #878382;
    font-size: 20px;
	font-family: Arial, Helvetica,sans-serif; ;
    border: 4px solid #2f8dcb;
    padding: 5px 20px;    
}

button.round {
	background-color: #2f8dcb;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
	font-family: Arial, Helvetica,sans-serif; ;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;     
    border-width: 0px;
    padding: 5px 20px;    
}

#alternate_table {
    border-collapse: collapse;
    width: 100%;
}
#alternate_table td, #alternate_table th {
    border-bottom: 1px solid #2F8DCB;
    padding: 3px 0px;
}
#alternate_table th {
    background-color: #2F8DCB;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
	font-weight: bold;
}
#alternate_table tr.alt td {
    background-color: #EAF2D3;
    color: #000000;
}

a.bluelink {
	color: #2f8dcb;
	text-decoration: none;	
}
a.bluelink :hover {
	color: #2f8dcb;
	text-decoration: underline;
}
